# dependencies
node_modules
build

# IDE - VSCode
.idea
.vs/
.vscode\*
!.vscode\settings.json
!.vscode\tasks.json
!.vscode\launch.json
!.vscode\extensions.json
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.~$lock
package-lock.json
junit.xml
coverage