$blue1:#D0F3FF;
$blue2:#B2D7DE;
$blue3:#7EB9C5;
$blue4:#5AB9F3;
$blue5:#00BCFF;
$blue6:#2F90FF;

$grey2:#CBD6E7;
$grey3:#CDD2DE;
$grey4:#A0A7BA;
$grey8:#333333;
$grey9:#29292C;

$white:#FFFFFF;

$yelow:#FFD439;

$green4:#68E2D3;
$green4:#37E4AA;

$red:#FD7778;